:root {
  --main-color: rgb(255 255 255 / 80%);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  place-items: center;
}
.head-line {
  margin: 20px auto;
  text-align: center;
  background-color: #333333e6;
  color: #60dbd0;
  width: fit-content;
  padding: 10px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
